@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style: none;
  /*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
}

html {
  scroll-behavior: smooth;
}

/* Improve media defaults */
img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create Custom Scroll-Bar */
::-webkit-scrollbar {
  width: 10px;
  background: #c5cadf;
}

::-webkit-scrollbar-thumb {
  background: #70768a;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: #454f6b;
}

/* Custom Property */
:root {
  --bg-dark: #161616;
  --white: #fff;
  --btn-active: #dd0000;
  --text-black: #161616;
  --text-gray: #b9b9b9;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* Common CSS Classes */
.container {
  max-width: 1440px;
  width: 85%;
  margin-inline: auto;
}

/** Header */
header {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-dark);
  border-radius: 0 0 30px 30px;
  overflow: hidden;
}

.header-content {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.header-text {
  width: 50%;
}

.header-img {
  width: 50%;
  height: 95%;
}

.header-text > h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  color: var(--white);
}

.header-text > p {
  width: 90%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
  padding: 1.5rem 0 3rem;
}

.btn {
  display: inline-block;
  background: var(--btn-active);
  border-radius: 12px;
  border: none;
  font-size: 18px;
  text-align: center;
  line-height: 23px;
  color: var(--white);
  padding: 0.8rem 2rem 0.8rem 1.3rem;
  transform: translate(0);
  transition: 0.3s ease;
}

.btn:hover {
  transform: translateY(-8px);
}

.fa-arrow-right {
  font-size: 16px;
  margin: 3px 0 0 5px;
  transition: 0.3s ease;
}

.header-img {
  align-self: end;
  margin-top: 1rem;
}

.header-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  cursor: pointer;
  transition: 0.3s ease;
}

.header-img:hover img {
  transform: scale(1.05);
}

/** Main Container */
.main-container {
  padding: 7rem 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1.5rem;
}

.side-bar {
  width: 250px;
  height: 250px;
  padding: 1rem 1.2rem;
  background-color: var(--bg-dark);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.side-bar a.upcoming-btn,
.side-bar a.all-group-btn {
  color: var(--text-black);
  background-color: var(--white);
  font-weight: 500;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 1.5rem;
}

.card {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.card-text {
  padding: 1rem;
}

.card-text > p {
  color: var(--text-black);
  font-weight: 500;
  border: 1px solid #161616;
  border-radius: 5px;
  width: 35%;
  padding: 3px 8px;
  text-align: center;
  margin: 0.5rem 0 1rem;
}

.card-text > h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-black);
  padding-bottom: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.fa-clock,
.fa-rocketchat {
  margin-right: 8px;
  color: rgba(22, 22, 22, 0.7);
}

.icon span {
  color: rgba(22, 22, 22, 0.7);
}

.card > img {
  width: 100%;
  object-fit: cover;
  object-position: top;
}
